@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbar {
  height: 44px !important
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (prefers-color-scheme: dark) {
  .editor-shell .editor-container, .editor-shell .toolbar, .dropdown, .dropdown > .item {
    background: #4b5563!important;
  }
  .toolbar button.toolbar-item:hover {
    background: #6b7280!important
  }
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}